<header>
  <nav class="navbar navbar-expand navbar-light">
    <% if vendor_signed_in? %>
      <%= link_to "キャリバーサンプル", top_vendor_path, class: 'navbar-brand' %>

      <div id="Navber">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'vendorアカウント編集', edit_vendor_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'vendorログアウト', destroy_vendor_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to "キャリバーサンプル", root_path, class: 'navbar-brand' %>

      <div id="Navber">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "vendor新規登録", new_vendor_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "vendorログイン", new_vendor_session_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
</header>