%h2 パスワードを変更する
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
   = bootstrap_devise_error_messages!
   
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
    %br/
    %i ・メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更が完了します。
    %br/
    %i 　現在のメールアドレスは"#{current_vendor.email}"です。

  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: "current-password"

  .form-group
    = f.label :password, "新しいパスワード"
    = f.password_field :password

  .form-group
    = f.label :password_confirmation, "パスワードを再入力する"
    = f.password_field :password_confirmation, autocomplete: "new-password"

  .actions
    = f.submit "変更する"
    
= link_to "戻る", top_vendor_path
