.container
  %h2 出品者として登録する（仮登録）

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = bootstrap_devise_error_messages!

    = f.hidden_field :shop_name, value: ""
    = f.hidden_field :last_name, value: ""
    = f.hidden_field :first_name, value: ""
    = f.hidden_field :kana_last_name, value: ""
    = f.hidden_field :kana_first_name, value: ""
    = f.hidden_field :birth_date, value: "1990-1-1"
    = f.hidden_field :phone_number, value: ""
    = f.hidden_field :postcode, value: ""
    = f.hidden_field :prefecture_code, value: "0"
    = f.hidden_field :city, value: ""
    = f.hidden_field :house_number, value: ""

    .form-group
      = f.label :email, "Eメール"
      = f.email_field :email, autofocus: true, autocomplete: "Eメール", required: true

    .actions
      = f.submit "送信する", class: "btn btn-primary btn-block"
  = render "devise_vendor/shared/links"
